* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

:root {
    --color-primary: #5E70C4; 
    --color-succes: #00bf8e; 
    --color-warning: #f7c94b; 
    --color-danger: #f75842; 
    --color-love: #FA2C5A;
    --color-darkblue: #0D28A6;
    --color-danger-variant: rgba (247, 88, 66, 0.4);
    --color-white: #fff; 
    --color-light: rgba (255, 255, 255, 0.7);
    --color-black: #000; 
    --color-bg: #1f2641; 
    --color-bg1: #2e3267; 
    --color-bg2: #424890; 
    --color-bg3: #CFD4ED;

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    transition: all 400ms ease;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-bg3);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
    display: inline-block;
    background: var(--color-succes);
    color: var(--color-bg1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: var(--transition);
  }

.btn:hover {
    background: var(--color-white);
    color: var(--color-succes);
}

.btn-primary {
    background: var(--color-succes);
    color: var(--color-white);
}

/* ===================== navbar ===================== */
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    padding: 5px;
    z-index: 11;
}


/* change navbar styles on scroll using java */
.window-scroll {
    background: var(--color-bg3);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 20px 10px;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: all 3ms ease;
}

.nav__menu a:hover{
    color: var(--color-white);
}

/* ===================== header ===================== */
header  {
    position: relative;
    top: 6rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 1rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 4rem;
}


.header__right {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.header__left .btn{
    width: max-content;
    margin-bottom: 5rem;
    cursor: pointer;
}


.header__right img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 50vw;  
    margin-top: -230px;
}


/* ===================== OUR SERVICES ===================== */

.our__services{
    background: var(--color-white);
}

.our__services-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5rem;
}
.our__services-left.img{
    position: relative;
    width: 1440px;
    height: 3226px;
}

.our__srvices-right > p {
    margin: 1.6rem 0 2.5rem;
}

.services {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    margin-top: -2rem;
}

.services__icon {
    color: var(--color-primary);
    font-size: 1.7rem;    
}


.services p{
    margin-top: 1rem;
    line-height: 2.2;
}


/* ===================== MY US ===================== */
.whyus {
    margin-top: -5rem;
    background: var(--color-white);
}

.whyus h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.whyus p {
    line-height: 1;
    margin-bottom: 4rem;
}


.list__whyus {
    display: grid;
    grid-template-columns: repeat(4 , 10fr);
    gap: 2rem;
}

.listwhyus {
    width: 270px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    padding: 2rem;
    border-radius:1rem;
    transition: var(--transition);
    box-shadow: -1px 0 20px rgba(0, 0, 0, 0.3);
}

.listwhyus:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.listwhyus:nth-child(2) .whyus__icon {
    background: var(--color-love);
}

.listwhyus:nth-child(3) .whyus__icon{
    background: var(--color-darkblue);
}

.listwhyus:nth-child(4) .whyus__icon {
    background: var(--color-succes);
}

.whyus__icon {
    font-size: 1.5rem;
    color: var(--color-white);
    background: var(--color-warning);
    padding: 0.7rem;
    border-radius: 50% 50% ;
}

.listwhyus h5 {
    margin: 2rem 0 1rem;    
}

.listwhyus p {
    font-size: 1rem;
}


/* ===================== TESTIMONIALS ===================== */

.testimonials__container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 2rem;
}

.avatar {
    width:8rem;
    height: 8rem;
    display: flex;
    margin-top: 30px;
    border-radius: 50%;
    overflow: hidden;   
}

.testimonial__info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
    padding: 2.5rem;
}

.testimonial__info h5 {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.testimonial__info p {
    font-size: 12px;
    margin-top: 0.5rem;
    
}

.testimonial__rating {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: var(--color-warning);
    
}

.testimonial__body{
    margin-top: 2rem;;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1rem;
    width: auto;
    height: 100%;
    background: var(--color-primary);
    padding: 2rem;  
    position: relative;
    border-radius: 0.5rem;
}


/* ===================== CTA BANNER ===================== */

.cta__banner{
    background: var(--color-white);
}

.cta-container{
    margin-top: 10rem;
    background: var(--color-darkblue);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
    width: 1168px;
    height: 326px;
}
.cta__body {
  align-items: center;
  }
  
  .cta__body h2 {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 2rem;
  }
  
  .cta__body p {
    align-items: center;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 3rem;
  }

  .cta-container .btn {
    margin-top: 1rem;
    margin-left: 28rem;
   
}


/* ===================== FAQs ===================== */
.faqs {
    background: var(--color-white);
}

.faqs__container {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 2rem;
}


.faqs__left h2{
    text-align: start;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 10px 10px 0 rgba(0, 0, 0, 0.3), 10px 0 10px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}

/* ===================== FOOTER ===================== */
footer{
    background: var(--color-white);
    padding: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:  5rem;
}

.footer__1p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    margin-left: -2.4rem;
    font-size: 1.2rem;
    margin-top: -1rem;
}


/* ===================== Media Queries (tablets) ===================== */

@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    /* ===================== Navbar ===================== */

    nav {
        height: 4rem;
     }
     
     nav button {
        display: inline-block;
        background: var(--color-bg3);
        font-size: 1.5rem;
        color: var(--color-primary);
        cursor: pointer;
        border: 0;
        z-index: 11;
    }

    #close-menu-btn {
        display: none;
        position: fixed;
        right: 1rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 15rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        flex-direction: column;
        background: var(--color-white);
        align-items: flex-start;
        z-index: 11;
        display: none;
        gap: 3rem;
    }


    /* ===================== Header ===================== */

    header {
        height: 52vh ;
        margin-bottom: 4rem;
    }

    .header__container {
        gap: 1;
        display: grid;
        grid-template-columns: 40% 60%;
        padding-bottom: 0;
    }
    .header__right img{
        margin-top: -100px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .header__left h1 {
        font-size: 24px;
    }
    
    .header__left .btn{
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        margin-top: -2rem;

    }




    /* ===================== FAQs ===================== */
    .faqs__container {
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }

    /* ===================== OUR SERVICES ===================== */
    .our__services {
        width: auto;
    }

    .our__services-container {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 2rem;
    }

    .our__services-left {
        display: flex;
        align-items: center;
    }

    .our__services-left .img {
        width: auto;
        max-width: auto;
    }

    /* ===================== Footer ===================== */
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }


    /* ===================== Footer ===================== */
    .list__whyus{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .testimonial__info {
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
        padding: 2.5rem;
    }
    
    .testimonial__info h5 {
        margin-top: 0.5rem;
        margin-left: 2rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .testimonial__info p {
        margin-left: 2rem;
        margin-top: 0.5rem;
        
    }
    
    .testimonial__rating {
        display: flex;
        margin-left: 2rem;
        justify-content: flex-start;
        flex-direction: row;
        color: var(--color-warning);
        
    }
    
} 




/* ===================== Media Queries (phones) ===================== */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
     /* ===================== NAVBAR ===================== */
     nav {
        height: 4rem;
     }
     
     nav button {
        display: inline-block;
        background: var(--color-bg3);
        font-size: 1.5rem;
        color: var(--color-primary);
        cursor: pointer;
        border: 0;
        z-index: 11;
    }

    #close-menu-btn {
        display: none;
        position: fixed;
        right: 1rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 15rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        flex-direction: column;
        background: var(--color-white);
        align-items: flex-start;
        z-index: 11;
        display: none;
        gap: 3rem;
    }



    /* ===================== HEADER  ===================== */
    header{
        height: 120vh;
        max-height: auto;
        max-width: auto;
    }
    .header__container {
        grid-template-columns: 1fr;
        height: 100%;
    }
    .header__left p {
        margin-top: 1.3rem;
    }

    .header__left .btn{
        margin-top: -3rem;
    }

    .header__right{
        margin-left: -1rem;
    }
    .header__right img {
        display: flex;
        position: absolute;
        width: 96%;
        max-width: 400px;
        height: auto;
        max-height: auto;
        justify-content: center;
        align-items: flex-end;
        margin-top: -130px;
        
    }

    .our__services-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* ===================== Why us ===================== */
    .list__whyus{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .listwhyus{
        width: auto;
        height: 90%;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: center;
    }

    .whyus__icon{
        text-align: center;
        margin-top: 4px;
        display: inline-block;
    }


    /* ===================== TESTIMONIALS ===================== */
    .avatar {
        width:6rem;
        height: 6rem;
        display: flex;
        margin-top: 30px;
        border-radius: 50%;
        overflow: hidden;   
    }
    
    .testimonial__info {
        display: grid;
        grid-template-columns: 1fr;
        text-align: start;
        padding: 2.5rem;
    }
    
    .testimonial__info h5 {
        margin-top: 0.5rem;
        display: flex;
        justify-content: flex-start;
    }
    
    .testimonial__info p {
        margin-top: 0.5rem;
        
    }
    
    .testimonial__rating {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        color: var(--color-warning);
        
    }
    
    .testimonial__body{
        margin-top: 2rem;;
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 1rem;
        width: auto;
        height: 100%;
        background: var(--color-primary);
        padding: 2rem;  
        position: relative;
        border-radius: 0.5rem;
    }
    /* ===================== CTA BANNER ===================== */
    .cta__banner{
        background: var(--color-white);
    }
    
    .cta-container{
        margin-top: 10rem;
        background: var(--color-darkblue);
        padding: 3rem;
        border-radius: 1rem;
        position: relative;
        text-align: center;
        bottom: 10rem;
        width: auto;
        height: 500px;
    }

      .cta__body h2 {
        text-align: center;
        font-size: 24px;
        color: var(--color-white);
        margin-bottom: 2rem;
      }
      
      .cta__body p {
        margin-bottom: 3rem;
        font-size: 14px;
      }

    
      .cta-container .btn {
        margin-top: 1rem;
        margin-left: auto;
       
    }
    

     /* ===================== FOOTER ===================== */
     .faqs {
        margin-top: -10rem;
     }
    .faqs__container {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* ===================== FOOTER ===================== */
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1p {
        margin: 1rem auto;
    }
    .footer__socials {
        justify-content: center;
    }  
}

